/*Body*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-image: url("img/fondo.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%; 
    }
    #center{
        width: 75%;
        margin-left: 12%;
        margin-right: 12%;
        background-color: blue;
    }
    #topmenu{
        
    }
  
/*Carousel*/
    .content-all {
        width: 210px;
        margin:auto;
        perspective: 1000px;
        position: relative;
    }
    .content-carrousel {
        width: 100%;
        position: absolute;
        /*rotar y 3d*/
        animation: rotar 10s infinite linear;
        transform-style: preserve-3d;
    }
    .content-carrousel figure {
        width: 100%;
        height: 120px;
        overflow: hidden;
        position: absolute;
    }
    .content-carrousel img {
        width:100%;
    }
    /*images to rotate*/
    .content-carrousel figure:nth-child(1){transform: rotateY(0deg)
    translateZ(200px)}
    .content-carrousel figure:nth-child(2){transform: rotateY(60deg)
    translateZ(200px)}
    .content-carrousel figure:nth-child(3){transform: rotateY(120deg)
    translateZ(200px)}
    .content-carrousel figure:nth-child(4){transform: rotateY(180deg)
    translateZ(200px)}
    .content-carrousel figure:nth-child(5){transform: rotateY(240deg)
    translateZ(200px)}
    .content-carrousel figure:nth-child(6){transform: rotateY(300deg)
    translateZ(200px)}

    /*animation definition*/
    @keyframes rotar {
     from{
         transform: rotateY(0deg)
    }
    to{
        transform: rotateY(360deg)
    }   
    }
/*Menu 3d*/


/*Flexbox*/

/*Horizontal menu*/ 




    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        text-align: center;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #111;
    }   

/*Footer down*/
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        text-align: center;
    }